.container
  %table.table
    %thead.thead-light
      %tr
        %th room ID
        %th ルームメンバー
        %th グループ
        %th 最終更新日
        %th
    %tbody
      - @rooms.each do |room|
        %tr
          %td= room.id
          %td
            - room.users.each do |user|
              %p= user.name
          %td= room.is_group ? '○' : '☓'
          %td= room.last_message_at
          %td= link_to '詳細へ', admin_room_path(room.id), class:'btn btn-info'
