.container
  .row.mt-5
    .col-sm-3
      = render 'users/left_area'
    .col-sm-9
      #v-pills-tabContent.tab-content
        #v-pills-messages.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-messages-tab", :role => "tabpanel"}
          - @rooms.each do |room|
            =link_to room_path(room.id) do
              .rooms-box.mt-3
                = image_tag room.users.where.not(id: current_user.id).first.image_url(:square_md), class:'user-img mr-3'
                = room.users.where.not(id: current_user.id).first.name
                %br
                = room.messages.order(created_at: :desc).first.content
        #v-pills-profile.tab-pane.fade{"aria-labelledby" => "v-pills-profile-tab", :role => "tabpanel"}
          .row
            .col-12
              = image_tag = image_tag current_user.image_url(:square_md), class:'user-img'
          .row
            .col-sm-4
              %p 名前
            .col-sm-8
              %p= current_user.name
          .row
            .col-sm-4
              %p メールアドレス
            .col-sm-8
              %p= current_user.email
        #v-pills-home.tab-pane.fade{"aria-labelledby" => "v-pills-home-tab", :role => "tabpanel"}
          - @users.each do |user|
            .add-friend-box.mt-3
              = image_tag user.image_url(:square_md), class: 'user-img'
              = user.name
              = link_to '友達になる', root_path, class:'btn btn-info'
